<mat-dialog-content>
  <p mat-dialog-title class="settings-title with-subtitle dialog-title">Настройка приоритетов</p>

  <app-priorities
    [priorities]="priorities"
    (addPriority)="onAddPriority($event)"
    (deletePriority)="onDeletePriority($event)"
    (updatePriority)="onUpdatePriority($event)"
  >
  </app-priorities>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: center">
  <div class="col-12 text-center add-edit-div">
    <button mat-raised-button color="primary" (click)="onClose()">Закрыть</button>
  </div>
</mat-dialog-actions>
