<div class="row">

  <div class="row search-task-row padding-10" *ngIf="isMobile || isTablet">
    <div class="col-6 text-left align-middle" style="margin-top: 7px">
      <span class="link" (click)="onToggleSearch()" *ngIf="showSearch">Скрыть поиск</span>
      <span class="link" (click)="onToggleSearch()" *ngIf="!showSearch">Показать поиск</span>
    </div>

    <div class="col-6 align-middle text-right">
      <button class="full-width" mat-raised-button color="primary"
              (click)="openAddTaskDialog()"
      >Добавить
      </button>
    </div>
  </div>

  <div class="row search-task-row" *ngIf="showSearch" style="padding-top: 10px; padding-bottom: 0">
    <!--фильтрация-->
    <div class="col-lg-2 col-md-12 col-sm-12">

      <!--фильтр по тексту-->
      <mat-form-field>
        <input matInput placeholder="Название"
               maxlength="16"
               [(ngModel)]="filterTitle"
               (ngModelChange)="this.checkFilterChanged()"
               (keydown.escape)="$event.stopPropagation(); filterTitle=''; checkFilterChanged()"
        >

        <button *ngIf="filterTitle && filterTitle.trim().length > 0"
                mat-icon-button matSuffix aria-label="Clear"
                class="clear-icon clear-input gray"
                (click)="$event.stopPropagation(); filterTitle=''; checkFilterChanged()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12">

      <!--фильтр по статусу-->
      <mat-form-field>
        <mat-select placeholder="Фильтр по статусу"
                    [(ngModel)]="filterCompleted"
                    (selectionChange)="checkFilterChanged()"
        >
          <mat-option [value]="null">Все статусы</mat-option>
          <mat-option [value]="completed">Завершенные задачи</mat-option>
          <mat-option [value]="uncompleted">Незавершенные задачи</mat-option>
        </mat-select>

        <button mat-icon-button matSuffix aria-label="Clear"
                class="clear-icon clear-input gray"
                *ngIf="filterCompleted != null"
                (click)="$event.stopPropagation(); filterCompleted = null; checkFilterChanged()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12">

      <!--фильтр по приоритету-->
      <mat-form-field>
        <mat-select placeholder="Фильтр по приоритету"
                    [(ngModel)]="filterPriorityId"
                    (selectionChange)="checkFilterChanged()"
        >
          <mat-option [value]="null">Все приоритеты</mat-option>
          <mat-option *ngFor="let priority of priorities" [value]="priority.id">{{priority.title}}</mat-option>
        </mat-select>

        <button mat-icon-button matSuffix aria-label="Clear"
                class="clear-icon clear-input gray"
                *ngIf="filterPriorityId != null"
                (click)="$event.stopPropagation(); filterPriorityId = null; checkFilterChanged()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12">

      <!--поле для сортировки-->
      <mat-form-field>
        <mat-select placeholder="Сортировка"
                    [(ngModel)]="filterSortColumn"
                    (selectionChange)="checkFilterChanged()"
        >
          <mat-option value="title">Название</mat-option>
          <mat-option value="date">Срок</mat-option>
          <mat-option value="priority">Приоритет</mat-option>
          <mat-option value="category">Категория</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--направление сортировки -->
    <div class="col-lg-2 col-md-12 col-sm-12" [ngClass]="{'sort': !isMobile}">
      <mat-form-field>
        <mat-select placeholder="Направление сортировки"
                    [(ngModel)]="filterSortDirection"
                    (selectionChange)="checkFilterChanged()"
        >
          <mat-option value="asc">По возрастанию</mat-option>
          <mat-option value="desc">По убыванию</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12" style="margin-top: 10px">
      <div class="row">

        <div class="text-center col-6">
          <button [ngClass]="{'search-button': true, 'padding-10': isMobile, 'blink-button': changed}"
                  mat-raised-button color="accent"
                  (click)="initSearch()"
          >
            Поиск
          </button>
        </div>

        <!--сбросить фильтры-->
        <div class="text-center col-6">
          <button matSuffix mat-button aria-label="Clear"
                  [ngClass]="{'padding-10': isMobile}"
                  (click)="$event.stopPropagation(); clearSearchValues(); checkFilterChanged()"
          >
            Сбросить
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Показать поиск/добавить задачу -->
  <div *ngIf="!isMobile && !isTablet" class="row search-task-row" style="padding-top: 10px; padding-bottom: 0">

    <div class="col-md-10 col-sm-12 text-left align-middle align-self-center">
      <span class="link" (click)="onToggleSearch()" *ngIf="showSearch">Скрыть поиск</span>
      <span class="link" (click)="onToggleSearch()" *ngIf="!showSearch">Показать поиск</span>
    </div>

    <div *ngIf="showSearch" class="col-md-1 col-sm-12 align-middle text-center" style="margin-top: 7px">
      <span class="founded gray">Найдено: {{totalTasksFounded}}</span>
    </div>

    <div class="col-sm-12 align-middle text-right" [ngClass]="{'col-md-1': showSearch, 'col-md-2': !showSearch}">
      <button class="full-width" mat-raised-button color="primary"
              (click)="openAddTaskDialog()"
      >Добавить
      </button>
    </div>

  </div>

  <!-- Показать количество найденных для мобильного экрана-->
  <div *ngIf="(isMobile || isTablet) && showSearch" class="row search-task-row" style="padding-top: 10px; padding-bottom: 0">

    <div class="col-md-12 col-sm-12 align-middle align-self-right" style="margin-top: 5px"
         [ngClass]="{'text-center': isMobile, 'text-right': !isMobile}">
      <span class="founded gray">Найдено: {{totalTasksFounded}}</span>
    </div>

  </div>

  <div style="padding-top: 10px"></div>

  <!--основная таблица-->
  <div class="col-md-12 task-list" style="padding-top: 10px; padding-bottom: 0">

    <!--для широкого экрана-->
    <div class="card" *ngIf="!isMobile && !isTablet">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Список задач</h4>
      </div>
      <div class="card-body table-responsive" *ngIf="tasks && tasks.length > 0">

        <mat-table [dataSource]="dataSource" mat-table matSort style="vertical-align: middle">

          <!--  цвет приоритета  -->
          <ng-container matColumnDef="color">
            <th *matHeaderCellDef mat-header-cell></th>
            <td class="col-color" *matCellDef="let task" [style.background-color]="getPriorityColor(task)"
                mat-cell></td>
          </ng-container>

          <!-- нумерация-->
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell></th>
            <td class="col-id" *matCellDef="let index = index;" mat-cell>
              {{index + 1 + taskSearchValues.pageNumber * taskSearchValues.pageSize}}
            </td>
          </ng-container>

          <!-- название задачи-->
          <ng-container matColumnDef="title">
            <th *matHeaderCellDef mat-header-cell mat-sort-header class="table-header"> Название</th>
            <td class="col-title pointer" *matCellDef="let task"
                [class.completed]="task.completeType === completed"
                (click)="openEditTaskDialog(task)"
                mat-cell>
              {{task.title}}
            </td>
          </ng-container>

          <!--дата выполнения-->
          <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell mat-sort-header class="table-header"> Срок</th>
            <td class="col-date" *matCellDef="let task"
                [ngClass]="{'completed': task.completeType === completed, 'novalue': task.date == null}"
                mat-cell>
              {{task.date | taskDate}}
            </td>
          </ng-container>

          <!--приоритет-->
          <ng-container matColumnDef="priority">
            <th *matHeaderCellDef mat-header-cell mat-sort-header class="table-header"> Приоритет</th>
            <td class="col-priority" *matCellDef="let task"
                [ngClass]="{'completed': task.completeType === completed, 'novalue': task.priority == null}"
                mat-cell>
              {{task.priority ? task.priority.title : "Без приоритета"}}
            </td>
          </ng-container>

          <!--категория-->
          <ng-container matColumnDef="category">
            <th *matHeaderCellDef mat-header-cell mat-sort-header class="table-header"> Категория</th>
            <td class="col-category" *matCellDef="let task"
                [ngClass]="{'completed': task.completeType === completed, 'novalue': task.category == null, 'link': task.completeType === uncompleted && task.category}"
                (click)="task.completeType === uncompleted && task.category && onSelectCategory(task.category)"
                mat-cell>
              {{task.category ? task.category.title : "Без категории"}}
            </td>
          </ng-container>

          <!--действия над задачей-->
          <ng-container matColumnDef="operations">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell class="col-operations" *matCellDef="let task"
                [class.completed]="task.completeType === completed">
              <button mat-icon-button (click)="openDeleteDialog(task)" class="delete-icon">
                <mat-icon aria-hidden="false">delete</mat-icon>
              </button>

              <button mat-icon-button (click)="openEditTaskDialog(task)" class="edit-icon">
                <mat-icon aria-hidden="false">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!--выполнение задачи-->
          <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell></th>
            <td mat-cell class="col-select text-right" *matCellDef="let task">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event? onToggleStatus(task) : null"
                [checked]="task.completeType === completed"
              >

              </mat-checkbox>
            </td>
          </ng-container>

          <!--  заголовок таблицы-->
          <tr *matHeaderRowDef="displayedColumns; " mat-header-row></tr>

          <!--  строки таблицы - набор строк из тегов td (порядок указывается в переменной displayedColumns) -->
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </mat-table>

        <mat-paginator [length]="totalTasksFounded" (page)="onPageChange($event)"
                       [pageIndex]="taskSearchValues.pageNumber"
                       [pageSize]="taskSearchValues.pageSize"
                       [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>

      </div>

      <div *ngIf="tasks && tasks.length == 0"><p class="not-found">Ничего не найдено</p></div>

    </div>

    <!--для мобильных устройств-->
    <div *ngIf="(isMobile || isTablet) && tasks && tasks.length > 0">
      <div *ngFor="let task of tasks; let index = index; "
           [ngClass]="{'completed': task.completeType === completed}">

        <div (click)="$event.stopPropagation(); openEditTaskDialog(task)"
             [ngClass]="{'background-completed': task.completeType === completed}"
             class="card card-mobile">

          <div [ngClass]="{'background-completed': task.completeType === completed}"
               [style.background-color]="getPriorityColor(task)"
               class="mobile-priority-top">
          </div>

          <div class="row">
            <div class="mobile-title-inner  col-9 col-md-10 align-top">
              <div [class.completed]="task.completeType === completed" class="mobile-title"
              >{{task.title}}</div>
            </div>

            <div class="col-2 col-md-1 align-top mobile-check text-right">
              <button class="nowidth" (click)="$event.stopPropagation(); onToggleStatus(task)"
                      *ngIf="task.completeType === uncompleted"
                      mat-icon-button>
                <mat-icon (click)="$event.stopPropagation(); onToggleStatus(task)"
                          class="check-icon-notcompleted"

                >check_circle_outline
                </mat-icon>
              </button>

              <button class="nowidth" (click)="$event.stopPropagation(); onToggleStatus(task)"
                      *ngIf="task.completeType === completed"
                      mat-icon-button>
                <mat-icon class="check-icon-completed">check_circle</mat-icon>
              </button>
            </div>

          </div>
          <div class="row">
            <div class="mobile-info-inner col-12 align-top">

              <div [ngClass]="{'completed': task.completeType === completed}"
                   class="mobile-category"
              >
                <p
                  [ngClass]="{'category': task.completeType === uncompleted && task.category}">  {{task.category ? task.category.title : 'Без категории'}} </p>
              </div>

              <div *ngIf="task.priority" class="mobile-priority">
                <p
                  [ngClass]="{'priority': task.completeType === uncompleted, 'completed': task.completeType === completed}"
                  [style.background-color]="getMobilePriorityBgColor(task)">  {{task.priority.title}} </p>
              </div>

              <div [ngClass]="{'completed': task.completeType === completed}" class="mobile-date">
                {{task.date | taskDate}}
              </div>

            </div>
          </div>
        </div>
      </div>

      <mat-paginator class="row search-task-row card" [length]="totalTasksFounded" (page)="onPageChange($event)"
                     [pageIndex]="taskSearchValues.pageNumber"
                     [pageSize]="taskSearchValues.pageSize"
                     [hidePageSize]="true"
                     showFirstLastButtons></mat-paginator>
    </div>


    <div class="card" *ngIf="(isMobile || isTablet) && tasks && tasks.length == 0">
      <p class="not-found">Ничего не найдено</p>
    </div>
  </div>
</div>



