/* You can add global styles to this file, and also import other style files */
@import "assets/css/material-dashboard.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap-css-only/css/bootstrap.min.css";
@import "~intro.js/minified/introjs.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif !important;
}

.not-found {
  margin-top: 30px;
  font-size: 20px;
  color: rgba(74, 74, 74, 0.98);
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.clear-input, .mat-mdc-icon-button {
  font-size: 25px !important;
  border: none !important;
  outline: none !important;
}

mat-dialog-content {
  padding: 40px !important;
}

mat-form-field {
  width: 100%;
}

.red {
  color: red;
}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}

.gray {
  color: #8f8f8f !important;
}

.add-edit-div {
  padding-bottom: 2%;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.main-panel > .content {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

app-header {
  width: 100%;
}

.dialog-title {
  padding-left: 0 !important;
  padding-bottom: 15px !important;
}

.customTooltip {
  text-align: center !important;
  min-width: 400px !important;
}

.navbar {
  display: contents !important;
}

.navbar-brand {
  vertical-align: middle !important;
}

.sidebar {
  position: unset !important;
}

.mat-sidenav {
  position: fixed !important;
}

.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.mat-mdc-form-field-icon-suffix {
  inline-size: inherit;
  text-align: right;
  max-width: 50%;
}

@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 3px #1e1d16;
  }
}

@-moz-keyframes glowing {
  0% {
    -moz-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -moz-box-shadow: 0 0 3px #1e1d16;
  }
}

@-o-keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

.blink-button {
  -webkit-animation: glowing 700ms infinite;
  -moz-animation: glowing 700ms infinite;
  -o-animation: glowing 700ms infinite;
  animation: glowing 700ms infinite;
}

.search-task-row {
  width: 100%;
  margin-left: 0;
  margin-right: 7px;
}

.padding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  border: none !important;
  outline: none !important;
}

.show-hide-search {
  margin-top: 20px !important;
}

.founded-center {
  text-align: center;
  margin-top: 10px;
}

.ready-date {
  border-bottom: 1px dashed #3879d6;
  color: #3879d6;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.color-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #dadada;
}

.loader {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  border-left: 6px solid rgba(0, 174, 239, 0.15);
  border-right: 6px solid rgba(0, 174, 239, 0.15);
  border-bottom: 6px solid rgba(0, 174, 239, 0.15);
  border-top: 6px solid rgba(0, 174, 239, 0.8);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
