<mat-dialog-content>
  <p mat-dialog-title class="dialog-title">{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Название (от 3 до 15 символов)</mat-label>
    <input matInput minlength="3" maxlength="15" #inputTitle
           [(ngModel)]="category.title"
           (keydown.enter)="onConfirm()">

    <button *ngIf="inputTitle.value.trim().length > 0"
            mat-icon-button matSuffix aria-label="Clear"
            (click)="inputTitle.value=''" class="clear-icon clear-input">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: center">

  <div class="col-12 text-center add-edit-div">
    <button mat-raised-button color="primary" (click)="onConfirm()"
            [disabled]="inputTitle.value.trim().length < 3">
      Сохранить
    </button>

    <button mat-raised-button (click)="onCancel()">Отмена</button>
  </div>

  <div class="col-12 text-center add-edit-div">
    <button mat-button style="color: red"
            *ngIf="canDelete()"
            (click)="delete()">
      Удалить
    </button>
  </div>
</mat-dialog-actions>
